<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Socnet-graph-analysis | Clustering</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link th:href="@{webjars/bootstrap/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/tree.css}">
</head>
<body class="p-5">
<div class="container">
    <h1 class="mb-4">Результат кластеризации пользователей ВКонтакте</h1>
    <h2 class="mb-4">Условия кластеризации</h2>
    <div class="mb-4">
        <p>Идентификатор пользователя: <b th:text="${clustering.vkUserId}"></b></p>
        <p>Кол-во кластеров: <b th:text="${clustering.numberOfClusters}"></b></p>
        <p>Кол-во пользователей: <b th:text="${clustering.numberOfUsers}"></b></p>
    </div>
    <h2 class="mb-4">Результат кластеризации</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button aria-controls="cluster-view" aria-selected="false" class="nav-link active"
                    data-bs-target="#cluster-view"
                    data-bs-toggle="tab"
                    id="cluster-view-tab" role="tab" type="button"
            >
                Кластер
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button aria-controls="table-view" aria-selected="true" class="nav-link" data-bs-target="#table-view"
                    data-bs-toggle="tab" id="table-view-tab" role="tab" type="button"
            >
                Таблица
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div aria-labelledby="cluster-view-tab" class="tab-pane fade show active" id="cluster-view" role="tabpanel">
            <div id="cluster"></div>
        </div>
        <div aria-labelledby="table-view-tab" class="tab-pane table-responsive table-wrapper fade" id="table-view"
             role="tabpanel">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col" th:each="header : ${clustering.table.headers}" th:text="${header}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${clustering.table.rows}">
                    <th scope="row" th:each="cell : ${row}" th:text="${cell}"></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script charset="utf-8" src="https://d3js.org/d3.v3.min.js"></script>
<script th:src="@{/js/tree.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    function drawTree(root) {
        createTree(root, '#cluster')
    }

    function initTooltip() {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    }

    window.onload = function () {
        var root = /*[[${clustering.cluster}]]*/ {};
        drawTree(root);

        initTooltip()
    }
</script>
</body>
</html>
