<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Socnet-graph-analysis</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link th:href="@{webjars/bootstrap/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/css/index.css}" th:rel="stylesheet">
</head>
<body class="p-5">
<div>
    <form action="#" class="container" method="post" name="condition" th:action="@{/clustering(code=${code})}">
        <h1 class="mb-4">Кластеризация пользователей ВКонтакте</h1>
        <div class="row">
            <div class="mb-3 col-5">
                <label class="form-label" for="vkUserId">Идентификатор пользователя</label>
                <input class="form-control" id="vkUserId" name="vkUserId" required/>
                <div class="form-text" id="vkUserIdHelp">https://vk.com/<b>это_идентификатор_пользователя</b>, например, <b>id1</b> или <b>durov</b>
                </div>
            </div>
            <div class="mb-3 col-4">
                <label class="form-label" for="numberOfClusters">Кол-во кластеров</label>
                <input class="form-control" id="numberOfClusters" name="numberOfClusters" required type="number"/>
            </div>
        </div>
        <label class="form-label">Свойства для кластеризации</label>
        <div class="row">
            <div class="col-3">
                <div class="mb-3 form-check"
                     th:each="i : ${#numbers.sequence(0, propertyOptions.size() / 3)}"
                >
                    <input class="form-check-input"
                           name="propertyOptions"
                           th:id="${propertyOptions[__${i}__].id}"
                           th:value="${propertyOptions[__${i}__].id}"
                           type="checkbox"
                    />
                    <label class="form-check-label"
                           th:for="${propertyOptions[__${i}__].id}"
                           th:text="${propertyOptions[__${i}__].label}"
                    ></label>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3 form-check"
                     th:each="i : ${#numbers.sequence((propertyOptions.size() / 3) + 1, (propertyOptions.size() / 3) * 2 + 1)}"
                >
                    <input class="form-check-input"
                           name="propertyOptions"
                           th:id="${propertyOptions[__${i}__].id}"
                           th:value="${propertyOptions[__${i}__].id}"
                           type="checkbox"
                    />
                    <label class="form-check-label"
                           th:for="${propertyOptions[__${i}__].id}"
                           th:text="${propertyOptions[__${i}__].label}"
                    ></label>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3 form-check"
                     th:each="i : ${#numbers.sequence((propertyOptions.size() / 3) * 2 + 2, propertyOptions.size() - 1)}">
                    <input class="form-check-input"
                           name="propertyOptions"
                           th:id="${propertyOptions[__${i}__].id}"
                           th:value="${propertyOptions[__${i}__].id}"
                           type="checkbox"
                    />
                    <label class="form-check-label"
                           th:for="${propertyOptions[__${i}__].id}"
                           th:text="${propertyOptions[__${i}__].label}"
                    ></label>
                </div>
            </div>
        </div>
        <input class="btn btn-primary" type="submit"/>
    </form>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
