<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Socnet-graph-analysis</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div>
    <h1>Socnet-graph-analysis</h1>
    <form action="#" method="post" name="condition" th:action="@{/clustering}">
        <div>
            <label for="vkUserId">Vk user id:
                <input id="vkUserId" name="vkUserId"/>
            </label>
        </div>
        <div>
            <label for="numberOfClusters">Number of clusters:
                <input id="numberOfClusters" name="numberOfClusters"/>
            </label>
        </div>
        <div th:each="option, optionStat : ${propertyOptions}">
            <input name="propertyOptions" th:id="${option.id}" th:value="${option.id}" type="checkbox"/>
            <label th:for="${option.id}" th:text="${option.label}"></label>
        </div>
        <input type="submit"/>
    </form>
</div>
</body>
</html>
